# Python bytecode
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# Environment variables file (if sensitive)



# Flask session and database files
instance/
*.sqlite3

# Logs and temporary files
*.log
*.pid
*.tmp

# System files
.DS_Store
Thumbs.db

# Git files
.git/
.gitignore

# Docker-specific files
docker-compose.override.yml
